@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="padding:30px; background-color:darkgray;">
        <h1 style="color:white;">Welcome to AddressBook Project ! </h1>
    </div><br />

    <img src="~/images/notes.jpg" alt="Some picture" width="400" /><br /><br />

    <a type="submit" asp-controller="Contact" asp-action="Index" class="btn btn-secondary">See Contacts</a>
</div>
